@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
} */
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  font-family: Poppins;
  line-height: normal;
  color: #000;
  /* font-size: 22px; */
}

/** / футер прикріплений до низу сайту  body {display: flex;flex-direction: column;height: 100vh;min-height: 100vh;} */
main {
  flex: 1 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 11px;
  padding-right: 11px;
  min-width: 320px;
}
@media screen and (min-width: 575px) {
  .container {
    width: 575px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 767px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 1350px) {
  .container {
    width: 1350px;
  }
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 36px;
  margin-bottom: 46px;
}
.header .header-logo {
  font-size: 24px;
  font-weight: 400;
}
.header .header-logo-span {
  color: #939393;
}
.header .header-navigation {
  display: none;
}
.header .header-item-link {
  color: #263238;
  font-size: 20px;
  font-weight: 500;
}
.header .header-button {
  display: none;
  font-size: 24px;
  font-weight: 400;
  padding: 17px 57px;
  background-color: #FFF;
  border-radius: 5px;
  border: 2px solid #263238;
}
@media screen and (min-width: 575px) {
  .header {
    padding-top: 39px;
  }
}
@media screen and (min-width: 767px) {
  .header {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    margin-bottom: 42px;
  }
  .header .header-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 27px;
  }
  .header .header-list {
    display: flex;
    gap: 35px;
  }
  .header .header-item-link {
    font-size: 16px;
  }
  .header .header-button {
    display: flex;
  }
  .header .header-icon-menu {
    display: none;
  }
}
@media screen and (min-width: 1350px) {
  .header {
    margin-bottom: 76px;
  }
  .header .header-item-link {
    font-size: 20px;
  }
}

.learn {
  background-image: url(../../img/Learning-languages-bro-1.png);
}
.learn .learn-title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5; /* 150% */
}
.learn .learn-text {
  color: #8F95A5;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.learn .learn-button {
  color: #FFF;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px 99px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #263238;
}
@media screen and (min-width: 575px) {
  .learn .learn-title {
    font-size: 34px;
    line-height: 1.32; /* 132.353% */
  }
}
@media screen and (min-width: 767px) {
  .learn .learn-title {
    font-size: 36px;
    line-height: 1.25; /* 125% */
  }
}
@media screen and (min-width: 992px) {
  .learn .learn-title {
    font-size: 48px;
    line-height: 1.33; /* 133.333% */
  }
}
@media screen and (min-width: 1350px) {
  .learn .learn-title {
    font-size: 64px;
    line-height: 1.25; /* 125% */
  }
}/*# sourceMappingURL=main.css.map */