.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 36px;
  margin-bottom: 46px;

  &-logo {
    font-size: 24px;
    font-weight: 400;
  }

  &-logo-span {
    color: #939393;
  }

  &-navigation {
    display: none;
  }

  &-list {
  }

  &-item.active::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 7px;
    background-color: #f38181;
    margin-top: 10px;
  }

  &-item:hover &-item-link {
    color: #f38181;
  }
  // &-item:hover {

  &-item-link {
    color: #263238;
    font-size: 20px;
    font-weight: 500;

    &:hover {
  color: #6b91da;
    }
  }


  &-button {
    display: none;
    font-size: 24px;
    font-weight: 400;
    padding: 17px 57px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #263238;
  }

  @media screen and (min-width: 575px) {
    padding-top: 39px;
  }

  @media screen and (min-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 42px;

    .header-navigation {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 27px;
    }

    .header-list {
      display: flex;
      gap: 35px;
    }

    .header-item-link {
      font-size: 16px;
    }

    .header-button {
      display: flex;
    }

    .header-icon-menu {
      display: none;
    }
  }
  @media screen and (min-width: 1350px) {
    margin-bottom: 76px;

    .header-item-link {
      font-size: 20px;
    }
  }
}
