.learn {
  .learn-bg {
    width: 299px;
    height: 299px;
    background-image: url(../img/Learning-languages-bro-1.png);
    background-size: 299px 299px;
    background-position: center;
  background-repeat: no-repeat;
   margin: 0 auto;
    margin-bottom: 16px;
  }

  .learn-wrap {
    display: flex;
    flex-direction: column;
  }

  .learn-title {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5; /* 150% */
    width: 220px;
    margin: 0 auto;
    white-space: break-spaces;
    margin-bottom: 20px;
    white-space-collapse: collapse;
  }

  .learn-text {
    color: #8f95a5;
    font-size: 14px;
    font-weight: 400;
    width: 295px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .learn-button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 99px;
    border-radius: 5px;
    background: #263238;
    display: flex;
    margin: 0 auto;

  }

  @media screen and (min-width: 575px) {
    
   .learn-bg{

    width: 424px;
    height: 424px;
    background-size: 424px 424px;
    margin: 0 auto;
   } 
    
    .learn-title {
      font-size: 34px;
      line-height: 1.32; /* 132.353% */
      white-space: nowrap;
      width: 100%;
      margin-bottom: 26px;
    }

    .learn-text{
        font-size: 16px;
      width: 92%;
      margin-bottom: 37px;
    }

    .learn-button{
        font-size: 18px;
        padding: 24px 101px;
    }

  }

  @media screen and (min-width: 767px) {
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .learn-bg{
        width: 352px;
        height: 352px;
        // flex-basis: 50%;
    background-size: 325px;
    }

    .learn-wrap{
        flex-basis: 339px;
        text-align: left;

    }

    .learn-title {
      font-size: 36px;
      line-height: 1.25; /* 125% */
      white-space: normal;
    width: 220px;
    text-align: left;
    margin-left: 0;
    }

    .learn-text{
        text-align: left;
        width: 100%;
    }

    .learn-button{
    margin-left: 0;
    }

  }
  @media screen and (min-width: 992px) {
   
    .learn-title {
      font-size: 48px;
      line-height: 1.33; /* 133.333% */
    width: 290px; 
    white-space: normal;
    white-space-collapse: preserve;  
 }

    .learn-text{
        font-size: 20px;
        width: 418px;
    }

    .learn-bg{
background-size: 422px 428px;
        width: 460px;
        height: 460px;
    }

  }
  @media screen and (min-width: 1350px) {
    
    .learn-wrap{
    }
    
    .learn-title {
        font-size: 64px;
        line-height: 1.25; /* 125% */
   width: 386px;
    }
    
    .learn-text{
        font-size: 24px;
        width: 522px;
    }
    
    .learn-bg{
        background-size: 607px 660px;
        width: 661px;
        height: 661px;
    }

  }
}
