.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    padding: 15px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
  .modal-logo {
    @extend .header-logo;

    & > .modal-logo-span {
      @extend .header-logo-span;
    }
  }

  .modal-close-btn {
    background: transparent;
    border: none;
  }
  .modal-line {
    margin-bottom: 48px;
  }
  .modal-list {
  }
  .modal-item {
  }
  .modal-link {
    color: #263238;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 65px; /* 295.455% */
  }
  .modal-button {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid #263238;
    padding: 17px 101px;
  }

  @media screen and (min-width: 575px) {
  }
  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 992px) {
  }
  @media screen and (min-width: 1350px) {
  }
}
