.header{}

.header-logo{
    color: #000;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header-logo-span{
    color: #939393;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header-list{
    display: flex;
}

.header-item{}

.header-item-link{
    color: #263238;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 772px;
}

.header-button{
    color: #000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 1600px;
height: 4642px;
background: #FFF;
}