.learn{}

.learn-wrap{}

.learn-title{
    color: #000;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 80px; /* 125% */
}

.learn-text{
    color: #8F95A5;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.learn-button{
    color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 438px;
height: 118px;
flex-shrink: 0;
border-radius: 15px;
background: #263238;
}